@font-1: 'Dancing Script', cursive;
@font-2: 'Josefin Sans', sans-serif;
@green: #0c7600;
body {
  font-family: @font-2;
}
.site-logo {
  height: 130px;
  @media(max-width: 500px) {
    height: 40px;

  }
  display: block;
  width: auto;
  img {
    max-height: 100%;
  }
}
.site-name {
  position: absolute;
  top: 40px;
  left: 54px;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px white;
  @media(max-width: 500px) {
    font-size: 20px;
    left: 20px;
    top:0;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}
.site-slogan {
  font-size: 34px;
  font-weight: normal;
  position: absolute;
  top: 79px;
  left: 150px;
  color: @green;
  @media(max-width: 500px) {
    font-size: 18px;
    left: 40px;
    top:20px;
  }
}
#block-fewokinzel-branding {
  height: 150px;
  padding: 10px;
  width: 400px;
  position: relative;
}
.responsive-menu-toggle-icon span.label {
  display: none;
}

.scale-image .paragraph--type--sliderelement {
  flex-wrap: wrap;
}
.paragraph--type--bildergalerie {
  img  {
    max-width: 100%;
    height: auto;
  }
}

.block-responsive-menu-horizontal-menu ul.horizontal-menu li.menu-item {
  padding: 0;
}
