.kint::selection {
  background: #0092db;
  color: #1d1e1e;
}
.kint::-moz-selection {
  background: #0092db;
  color: #1d1e1e;
}
.kint::-webkit-selection {
  background: #0092db;
  color: #1d1e1e;
}
.kint,
.kint::before,
.kint::after,
.kint *,
.kint *::before,
.kint *::after {
  box-sizing: border-box;
  border-radius: 0;
  color: #1d1e1e;
  float: none !important;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  line-height: 15px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.kint {
  font-size: 13px;
  margin: 8px 0;
  overflow-x: auto;
  white-space: nowrap;
}
.kint dt {
  background: #e0eaef;
  border: 1px solid #b6cedb;
  color: #1d1e1e;
  display: block;
  font-weight: bold;
  list-style: none outside none;
  overflow: auto;
  padding: 4px;
}
.kint dt:hover {
  border-color: #0092db;
}
.kint dt > var {
  margin-right: 5px;
}
.kint > dl dl {
  padding: 0 0 0 12px;
}
.kint nav {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAA8CAMAAACO5hB7AAAACVBMVEX///82b4tctzBls0NMAAAAQklEQVR42rWRIQ4AAAgCwf8/2qgER2BeuwJsgAqIzekMfMryPL9XQSkobE6vwKcsz/N7FfPvh09lnPf/b+7673+f0uHuAZ/EdkNQAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 3px;
  vertical-align: middle;
}
.kint dt.kint-parent:hover nav {
  background-position: 0 -15px;
}
.kint dt.kint-parent.kint-show:hover > nav {
  background-position: 0 -45px;
}
.kint dt.kint-show > nav {
  background-position: 0 -30px;
}
.kint dt.kint-parent + dd {
  display: none;
  border-left: 1px dashed #b6cedb;
}
.kint dt.kint-parent.kint-show + dd {
  display: block;
}
.kint var,
.kint var a {
  color: #0092db;
  font-style: normal;
}
.kint dt:hover var,
.kint dt:hover var a {
  color: #5cb730;
}
.kint dfn {
  font-style: normal;
  font-family: monospace;
  color: #1d1e1e;
}
.kint pre {
  color: #1d1e1e;
  margin: 0 0 0 12px;
  padding: 5px;
  overflow-y: hidden;
  border-top: 0;
  border: 1px solid #b6cedb;
  background: #e0eaef;
  display: block;
  word-break: normal;
}
.kint .kint-popup-trigger {
  float: right !important;
  cursor: pointer;
  color: #0092db;
}
.kint .kint-popup-trigger:hover {
  color: #b6cedb;
}
.kint dt.kint-parent > .kint-popup-trigger {
  font-size: 13px;
}
.kint footer {
  padding: 0 3px 3px;
  font-size: 9px;
}
.kint footer > .kint-popup-trigger {
  font-size: 12px;
}
.kint footer nav {
  background-size: 10px;
  height: 10px;
  width: 10px;
}
.kint footer nav:hover {
  background-position: 0 -10px;
}
.kint footer > ol {
  display: none;
  margin-left: 32px;
}
.kint footer.kint-show > ol {
  display: block;
}
.kint footer.kint-show nav {
  background-position: 0 -20px;
}
.kint footer.kint-show nav:hover {
  background-position: 0 -30px;
}
.kint a {
  color: #1d1e1e;
  text-shadow: none;
}
.kint a:hover {
  color: #1d1e1e;
  border-bottom: 1px dotted #1d1e1e;
}
.kint ul {
  list-style: none;
  padding-left: 12px;
}
.kint ul:not(.kint-tabs) li {
  border-left: 1px dashed #b6cedb;
}
.kint ul:not(.kint-tabs) li > dl {
  border-left: none;
}
.kint ul.kint-tabs {
  margin: 0 0 0 12px;
  padding-left: 0;
  background: #e0eaef;
  border: 1px solid #b6cedb;
  border-top: 0;
}
.kint ul.kint-tabs li {
  background: #c1d4df;
  border: 1px solid #b6cedb;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  margin: 2px;
  padding: 0 12px;
  vertical-align: top;
}
.kint ul.kint-tabs li:hover,
.kint ul.kint-tabs li.kint-active-tab:hover {
  border-color: #0092db;
  color: #5cb730;
}
.kint ul.kint-tabs li.kint-active-tab {
  background: #e0eaef;
  border-top: 0;
  margin-top: -1px;
  height: 27px;
  line-height: 24px;
}
.kint ul.kint-tabs li:not(.kint-active-tab) {
  line-height: 20px;
}
.kint ul.kint-tabs li + li {
  margin-left: 0;
}
.kint ul:not(.kint-tabs) > li:not(:first-child) {
  display: none;
}
.kint dt:hover + dd > ul > li.kint-active-tab {
  border-color: #0092db;
  color: #5cb730;
}
.kint-report {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
}
.kint-report * {
  font-size: 12px;
}
.kint-report dt {
  background: none;
  padding: 2px;
}
.kint-report dt .kint-parent {
  min-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.kint-report td,
.kint-report th {
  border: 1px solid #b6cedb;
  padding: 2px;
  vertical-align: center;
}
.kint-report th {
  cursor: alias;
}
.kint-report td:first-child,
.kint-report th {
  font-weight: bold;
  background: #c1d4df;
  color: #1d1e1e;
}
.kint-report td {
  background: #e0eaef;
  white-space: pre;
}
.kint-report td > dl {
  padding: 0;
}
.kint-report pre {
  border-top: 0;
  border-right: 0;
}
.kint-report th:first-child {
  background: none;
  border: 0;
}
.kint-report td.kint-empty {
  background: #d33682 !important;
}
.kint-report tr:hover > td {
  box-shadow: 0 0 1px 0 #0092db inset;
}
.kint-report tr:hover var {
  color: #5cb730;
}
.kint-report ul.kint-tabs li.kint-active-tab {
  height: 20px;
  line-height: 17px;
}
.kint-trace .kint-source {
  line-height: 14px;
}
.kint-trace .kint-source span {
  padding-right: 1px;
  border-right: 3px inset #0092db;
}
.kint-trace .kint-source .kint-highlight {
  background: #c1d4df;
}
.kint-trace .kint-parent > b {
  min-width: 18px;
  display: inline-block;
  text-align: right;
  color: #1d1e1e;
}
.kint-trace .kint-parent > var > a {
  color: #0092db;
}
.kint-focused {
  box-shadow: 0 0 3px 2px #5cb730;
}
.kint-microtime,
.kint-color-preview {
  box-shadow: 0 0 2px 0 #b6cedb;
  height: 16px;
  text-align: center;
  text-shadow: -1px 0 #839496, 0 1px #839496, 1px 0 #839496, 0 -1px #839496;
  width: 230px;
  color: #fdf6e3;
}
.kint footer li {
  color: #ddd;
}
.kint > dl > dt {
  background: linear-gradient(to bottom, #e3ecf0 0, #c0d4df 100%);
}
.kint ul.kint-tabs {
  background: linear-gradient(to bottom, #9dbed0 0px, #b2ccda 100%);
}
.kint > dl:not(.kint-trace) > dd > ul.kint-tabs li {
  background: #e0eaef;
}
.kint > dl:not(.kint-trace) > dd > ul.kint-tabs li.kint-active-tab {
  background: #c1d4df;
}
.kint > dl.kint-trace > dt {
  background: linear-gradient(to bottom, #c0d4df 0px, #e3ecf0 100%);
}
.kint .kint-source .kint-highlight {
  background: #f0eb96;
}
/*# sourceMappingURL=original.css.map */